@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: content-box;
}

body {
  color: #8d8d8d;
}

@keyframes animation_up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes bookReleaseMotion {
  0% {
    left: 329px;
    opacity: 0;
  }

  3% {
    left: 329px;
    opacity: 1;
  }

  38% {
    left: 329px;
  }

  60% {
    left: 461px;
    opacity: 1;
  }

  88% {
    left: 461px;
    opacity: 1;
  }

  to {
    left: 461px;
    opacity: 1;
  }
}

@keyframes bookCoverMotion {
  0% {
    left: 341px;
    opacity: 0;
  }

  3% {
    opacity: 1;
  }

  38% {
    left: 341px;
  }

  58% {
    left: 208px;
  }

  80% {
    left: 208px;
  }

  to {
    left: 0;
  }
}

@layer utilities {
  .book-cover,
  .txt-writer {
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }
  .txt-writer {
    -webkit-line-clamp: 2;
  }
  .vertical-three-box {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: box;
  }
  .book-release {
    animation: bookReleaseMotion 2s;
    left: 329px;
    opacity: 1;
    height: 477px;
    position: absolute;
    top: -9px;
    width: 343px;
    z-index: 80;
  }
  .book-cover-motion {
    animation: bookCoverMotion 2s;
  }
}

@layer components {
  .screen-out {
    height: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    width: 0;
  }
  .ico-brunch {
    line-height: 0;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-indent: -9999px;
  }

  .title-pic {
    @apply font-serif_mj block text-[28px] tracking-[-.025em] leading-[36px] pt-[12px] font-normal;
  }

  .suggest-list {
    animation: animation_up 0.5s;
    transition: opacity 0.2s ease-out 0s, transform 0.5s ease-out 0s;
  }
  .suggest-tag {
    border: 1px solid #56ddd5;
    border-radius: 24px;
    color: #00c6be;
    display: inline-block;
    font-size: 15px;
    line-height: 22px;
    margin: 0 4px;
    padding: 4px 14px;
  }
  .writing-tag {
    border: 1px solid #ddd;
    border-radius: 28px;
    color: #959595;
    display: block;
    font-size: 12px;
    height: 26px;
    letter-spacing: -1px;
    line-height: 26px;
    min-width: 14px;
    padding: 0 10px;
    text-align: center;
  }
  .comment-button {
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 42px;
    color: #666;
    float: left;
    font-size: 13px;
    margin-left: 8px;
    padding: 10px 20px 8px 19px;
  }
  .clear-both {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
  }
  .txt-brunch {
    overflow: hidden;
    text-indent: -9999px;
  }
  .tit_writer {
    word-wrap: break-word;
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 28px;
    max-height: 57px;
    padding: 17px 12px 0;
    white-space: normal;
    word-break: keep-all;
    font-weight: normal;
  }
  .tit_subject {
    word-wrap: break-word;
    display: inline;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.025em;
    word-break: break-all;
  }
  .brunch-suggest .index-footer {
    display: none;
  }
  .wordspacing-60 {
    word-spacing: -0.06em;
  }
  .break-word {
    word-wrap: break-word;
    word-break: break-all;
  }
}
